Source: node-unpipe
Section: web
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Thorsten Alteholz <debian@alteholz.de>
Build-Depends:
 debhelper (>= 9)
 , dh-buildinfo
 , nodejs
Standards-Version: 3.9.7
Homepage: https://github.com/stream-utils/unpipe
Vcs-Git: https://anonscm.debian.org/git/pkg-javascript/node-unpipe.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=pkg-javascript/node-unpipe.git

Package: node-unpipe
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
Description: Unpipe a stream from all destinations
 Unpipes all destinations from a given stream. With stream 2+, this is 
 equivalent to stream.unpipe(). When used with streams 1 style streams 
 (typically Node.js 0.8 and below), this module attempts to undo the 
 actions done in stream.pipe(dest).
 .
 Node.js is an event-based server-side JavaScript engine.
